<%= form_with(model: otdeleny) do |form| %>
  <% if otdeleny.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(otdeleny.errors.count, "error") %> prohibited this otdeleny from being saved:</h2>

      <ul>
        <% otdeleny.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
